.avatar {
  border-radius: var(--border-radius-xl);
  overflow: hidden;
  height: 40px;
  aspect-ratio: 1 / 1;
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: var(--color-primary);
  color: var(--color-primary-fg);
}

.small {
  height: 32px;
}

.medium {
  height: 40px;
}

.large {
  height: 32px;
}
