# General ignores
**/target
**/node_modules
**/dist
**/.git
**/.idea
**/.vscode
**/.vinxi
**/.output
**/Dockerfile
**/.dockerignore
**/.cargo
*/.env
*/.env.*
.pnpm-store/
.github/
.husky/
.turbo/
.vscode/

# Ignore files created by editors or OS
*.DS_Store
*.log
*.tmp
*.swp
*.bak

# Ignore testing directories
run/
