# Devcontainer
.devcontainer/user

# Node, pnpm and other tooling
node_modules/
.notebooks/
.pnpm-store/
.output/
.turbo/
.tanstack/
*.tsbuildinfo
.pnpm-debug.log

# Local env files and other local files
.env
.env*.local
*.pem

# Build artifacts
dist/
target/

# Testing artifacts
.eslintcache
coverage/
lcov.info

# IDEs and editors
*.code-workspace

# System Files
.DS_Store
Thumbs.db

# App contents
run/

*storybook.log
storybook-static
