.button {
  display: block;
  padding: 0.5rem 1rem;

  font-family: var(--font-family-sans);
  font-size: var(--font-size-md);
  font-weight: 500;

  user-select: none;

  border-radius: 999999px;
  border: 1px solid transparent;

  transition: all 0.1s ease-in-out;

  &:not([disabled]):active {
    transform: scale(0.98);
    transition: all 0.2s ease-in-out;
  }

  &[disabled] {
    border-style: dashed;
    border-color: var(--color-primary);
    background-color: var(--color-surface);
    color: var(--color-text);
  }
}

.primary {
  background-color: var(--color-primary);
  color: var(--color-primary-fg);

  &:not([disabled]) {
    &:hover {
      background-color: var(--color-primary-hover);
    }

    &:active {
      background-color: var(--color-primary-active);
    }
  }
}

.subtle {
  background-color: transparent;
  color: inherit;

  &:not([disabled]) {
    &:hover {
      background-color: var(--color-subtle-hover);
      color: var(--color-subtle-fg);
    }

    &:active {
      background-color: var(--color-subtle-active);
    }
  }
}
