:root {
  /* Colors */
  --color-primary-80: #d0a45d;
  --color-primary-60: #ecc169;
  --color-primary-50: #f3d278;
  --color-primary-40: #f9e090;
  --color-primray-30: #f5e9a4;

  --color-gray-0: #fffaf7;
  --color-gray-10: #faf7f5;
  --color-gray-20: #e8e2de;
  --color-gray-50: #8d8787;
  --color-gray-80: #272b2f;
  --color-gray-90: #1c1e21;
  --color-gray-100: #090a0b;

  --color-bg: var(--color-gray-90);
  --color-surface: var(--color-gray-80);
  --color-primary: var(--color-primary-60);
  --color-primary-fg: var(--color-gray-80);
  --color-primary-hover: var(--color-primary-40);
  --color-accent: #e77d6f;
  --color-danger: #d73247;
  --color-success: #3ebd70;
  --color-warning: var(--color-accent); /* ??? */
  --color-text: var(--color-gray-10);

  /* Spacing */
  --space-xs: 0.25rem;
  --space-sm: 0.5rem;
  --space-md: 1rem;
  --space-lg: 2rem;
  --space-xl: 4rem;

  /* Typography */
  --font-family-sans:
    -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
    "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  --font-family-mono: monospace;
  --font-size-xs: 0.75rem;
  --font-size-sm: 0.875rem;
  --font-size-md: 1rem;
  --font-size-lg: 1.25rem;
  --font-size-xl: 2rem;
  --font-weight-normal: 400;
  --font-weight-bold: 700;

  /* Borders & Radius */
  --border-radius-sm: 3px;
  --border-radius-md: 6px;
  --border-radius-lg: 12px;
  --border-radius-full: 9999px;

  --border-width: 1px;

  /* Shadows & Effects */
  --shadow-sm: 0 1px 2px rgba(0, 0, 0, 0.05);
  --shadow-md: 0 4px 12px rgba(0, 0, 0, 0.12);
  --transition-fast: 0.15s cubic-bezier(0.4, 0, 0.2, 1);
  --transition: 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}

[data-theme="light"] {
  --color-bg: var(--color-gray-10);
  --color-surface: var(--color-gray-0);
  --color-primary: var(--color-primary-50);
  --color-primary-fg: var(--color-gray-80);
  --color-primary-hover: var(--color-primary-30);
  --color-text: var(--color-gray-80);
}
