.main-layout {
  display: flex;
  flex-direction: column;
  height: 100vh;
  padding: 0.5rem;
  box-sizing: border-box;
  gap: 0.5rem;

  & > .content {
    flex: 1;
    overflow: auto;
    display: flex;
    flex-direction: column;
  }
}
