.list-view-item {
  min-height: 48px;
  display: flex;
  align-items: center;
  padding: 0 var(--space-sm);

  transition: all 0.1s ease-in-out;
}

.content {
  flex: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.actions {
  display: flex;
  gap: var(--space-sm);
}

.clickable {
  cursor: pointer;

  &:hover {
    --color-bg: var(--color-surface-alt);
    background-color: var(--color-surface-alt);
  }
}
