.page {
  display: flex;
  flex-direction: column;
  gap: var(--space-sm);
  position: relative;
}

.page-header {
  display: flex;
  flex-direction: column;
}

.page-title {
  height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.page-toolbar {
  display: flex;
  padding: 0 var(--space-sm);
  gap: var(--space-sm);
}

.page-content {
  flex: 1;
  padding: var(--space-sm);
}
